---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About BYM Producciones">
  <h1>Acerca de BYM Producciones</h1>
  <p>
    BYM es una productora audiovisual enfocada en la produccion musical,
    fotogrofia
  </p>
</Layout>
