---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Nuestros servicios">
  <h1>Nuestro Servicios ñ</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, sequi
    quibusdam. Alias eius sapiente, cupiditate nisi dicta magnam incidunt
    adipisci, expedita placeat culpa quas hic nobis in eum voluptas maiores?
  </p>
</Layout>
