---
const text = Astro.props.text || "Botón";
---

<button class="btn">{text}</button>

<style>
  .btn {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #007bff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #0069d9;
  }
</style>
