---
console.log("javascript");
---

<!-- <header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      Bym Producciones
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-4000">
      Produccion Audiovisual
    </p>
  </div>
  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <a class="text-white" href="/">Home</a>
    <a class="text-white" href="/about">Nosotros</a>
    <a class="text-white" href="/services">Servicios</a>
    <a class="text-white" href="/contact">Contacto</a>
  </nav>
</header> -->
<nav
  class="bg-gradient-to-b from-[#000814] to-[#001D3D] h-16 flex items-center px-8 lg: py-16"
>
  <div class="logo flex items-center">
    <img
      src="/images/LOGO-BYM-PRODUCCIONES transparent white-2.png"
      alt="Logo bym producciones"
      class="h-20 wx-auto mr-2"
    />
  </div>
  <div class="links flex items-center ml-auto space-x-4">
    <a href="/" class="text-white hover:text-[#FFD60A] transition duration-200"
      >Home</a
    >
    <a
      href="/about"
      class="text-white hover:text-[#FFD60A] transition duration-200"
      >Nosotros</a
    >
    <a
      href="/servicios"
      class="text-white hover:text-[#FFD60A] transition duration-200"
      >Servicios</a
    >
    <a
      href="/contacto"
      class="text-white hover:text-[#FFD60A] transition duration-200"
      >Contáctanos</a
    >
  </div>
</nav>
