---
interface Props {
  title?: string;
  pageDescription?: string;
}

const { title = "Bym Producciones", pageDescription } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDescription} />
    <meta name="viewport" content="width=device-width" />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/public/images/bym-favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
<style is:global>
  :root {
    /* --accent: 255, 195, 0; */
    --accent: 178, 136, 0;
    --accent-light: 255, 214, 10;
    --accent-dark: 0, 53, 102;
    --accent-black: 0, 29, 1;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: rgb(0, 8, 20);
    /* background: linear-gradient(
      0deg,
      rgba(0, 8, 20, 1) 0%,
      rgba(0, 29, 61, 1) 47%,
      rgba(0, 53, 102, 1) 100%
    ); */
    background-size: 100%;

    background-repeat: no-repeat;
    /* background-size: 224px; */
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
